@font-face {
  // font-family: 'MyFonts';
  // src: url("SIMKAI.TTF");
  font-family: 'Noto Sans SC', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
}

$border-radius: 20px;
$primary: #d90202;
$background: rgb(41, 41, 41);
$base: #390707;
$shadow-color:  #838383;
$lighter-shadow: rgba($shadow-color, .7);
$gray: #8c8c8c;
$lighter-gray: rgba($gray, .1);
$transition: .3s all ease;

@media only screen and (max-width: 600px) {
body {
  font-family: 'Noto Sans SC', 'Rubik', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $background;
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97vw;
    max-height: 100%;
    padding: 0px;
    margin-top: 5px;
    border-radius: $border-radius;
    box-shadow: 0px 0px 70px 0px $shadow-color;
    background: black;
    overflow: hidden;
    .current-track{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 0px;
      border-radius: $border-radius;
      width: inherit;
      background-color: #1a1a1a;
      .text-wrap{
        position: relative;
        width: inherit;
        height: 340px;
        text-align: center;
        overflow-y: scroll;
        border-radius: 20px;
        box-shadow: 0px 10px 40px 0px $lighter-shadow;
        background-color: black;
      }
      .text-card-chinese{
        font-size: 20pt;
        padding: 10px;
      }
      .text-card-english{
        padding: 10px;
      }
      .time{
        display: flex;
        margin-top: 15px;
        justify-content: space-between;
        width: 80%;
        .playing-animation {
          width: 2rem;
          height: 1.5rem;
          // border-radius: .3rem;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 5px;
          box-sizing: border-box;
        }
        .playing__bar {
          // display: inline-block;
          background: $primary;
          width: 30%;
          // height: 100%;
          animation: up-and-down 1.3s ease infinite alternate;
        }
        .playing__bar1 {
          height: 60%;
        }
        .playing__bar2 {
          height: 30%;
          animation-delay: -2.2s;
        }
        .playing__bar3 {
          height: 75%;
          animation-delay: -3.7s;
        }
        @keyframes up-and-down {
          10% {
            height: 30%;
          }        
          30% {
            height: 100%;
          }        
          60% {
            height: 50%;
          }        
          80% {
            height: 75%;
          }        
          100% {
            height: 60%;
          }
        }
      }
      #timeline{
        margin-top: 3px;
        position: relative;
        width: 80%;
        height: 5px;
        background: $primary;
        border-radius: 5px;
        // cursor: pointer;
        &:hover{
          .hover-playhead{
             opacity: 1;
            &::before{
              opacity: 1;
            }
            &::after{
              opacity: 1;
            }
          }
        }
        #playhead{
          position: relative;
          z-index: 2;
          width: 0;
          height: 5px;
          border-radius: 5px;
          background: $base;
        }
        .hover-playhead{
          position: absolute;
          z-index: 1;
          top: 0;
          width: 0;
          height: 5px;
          opacity: 0;
          border-radius: 5px;
          background: $shadow-color;
          transition: opacity .3s;
          &::before{
            opacity: 0;
            content: attr(data-content);
            display: block;
            position: absolute;
            top: -30px;
            right: -23px;
            width: 40px;
            padding: 3px;
            text-align: center;
            background: $shadow-color;
            border-radius: calc( #{$border-radius} - 12px);
          }
          &::after{
            opacity: 0;
            content:'';
            display: block;
            position: absolute;
            top: -8px;
            right: -8px;
            border-top: 8px solid $shadow-color;
            border-left:8px solid transparent;
            border-right:8px solid transparent;
          }
        }
      }
      .controls{
        margin: 12px 0px;
        button{
          color: white;
          border-radius: 50%;
          margin: 8px 8px;
          text-align: center;
          transition: 0.2s;
          background: 0;
          // cursor: pointer;
          border: none;
          &:focus{
            outline: none;
          }
          &.back-5{
            width: 40px;
            height: 40px;
            background-image: url("../img/back-5.svg");
            &:hover{
              transform: scale(1.2);
            }
          }
          &.play{
            width: 40px;
            height: 40px;
            border: 1px solid #e2e2e2;
            background-image: url("../img/play.svg");
            &:hover{
              left: 0;
              box-shadow: 0px 0px 15px 0px  $lighter-shadow;
            }
          }
          &.pause{
              width: 40px;
              height: 40px;
              border: 1px solid #e2e2e2;
              background-image: url("../img/pause.svg");
              &:hover{
                left: 0;
                box-shadow: 0px 0px 15px 0px  $lighter-shadow;
            }
          }
          &.prev{
            width: 40px;
            height: 40px;
            background-image: url("../img/rewind.svg");
            &:hover{
              transform: scale(1.2);
            }
          }
          &.next{
            width: 40px;
            height: 40px;
            background-image: url("../img/fforward.svg");
            &:hover{
              transform: scale(1.2);
            }
          }
          &.forward-5{
            width: 40px;
            height: 40px;
            background-image: url("../img/forward-5.svg");
            &:hover{
              transform: scale(1.2);
            }
          }
        }
      }
    }
    .play-list{
      display: flex;
      flex-direction: column;
      padding: 10px;
      // height: 90vh;
      height: 260px;
      overflow-y: scroll;
      width: inherit;
      align-items: center;
      .track{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        border-radius: calc( #{$border-radius} - 10px);
        border: 1px solid transparent;
        transition: 0.3s;
        width: 70vw;
        // cursor: pointer;
        &:hover{
          background: $shadow-color;
          border-color: $shadow-color;
          position: relative;
        }
        &.current-audio{
          background: #3d3d3d;;
          box-shadow: 0px 0px 15px 0px #3d3d3d;
        }
        &.play-now{
          background: #3d3d3d;;
          box-shadow: 0px 0px 15px 0px  #3d3d3d;
      }
      .track-info-container{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        .track-name{
          font-size: 17px;
          margin: 5px 0px;
        }
      }
      .track-duration{
        font-weight: 500;
        margin-right: 15px;
      }
      }
    }
  }
}
}


@media screen and (min-width:600px) {
  body {
    font-family: 'MyFonts', sans-serif;
    color: $base;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 580px;
      max-height: 100%;
      padding: 0px;
      margin-top: 30px;
      border-radius: $border-radius;
      color: white;
      box-shadow: 0px 0px 70px 0px $shadow-color;
      background: $base;
      overflow: hidden;
      
      .current-track{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
        border-radius: $border-radius;
        color: $base;
        background: white;
        // width: 800px;
        margin: 20px 20px 0px 20px;
        
     
        audio{
          display: none;
        }
        .text-wrap{
          position: relative;
          // margin: 0 auto;
          width: 540px;
          height: 280px;
          text-align: center;
          overflow-y: scroll;
          border-radius: 20px;
          box-shadow: 0px 10px 40px 0px $lighter-shadow;
        }
        // .text-card{
        //   text-align: center;
        //   font-size:x-large;
        // }
        .track-name{
          margin-top: 20px;
          font-size: 22px;
        }
        .time{
          display: flex;
          justify-content: space-between;
          width: 320px;
        }
        #timeline{
          position: relative;
          margin: 0 auto;
          width: 320px;
          height: 5px;
          background: $primary;
          border-radius: 5px;
          cursor: pointer;
          &:hover{
            .hover-playhead{
               opacity: 1;
              &::before{
                opacity: 1;
              }
              &::after{
                opacity: 1;
              }
            }
          }
          #playhead{
            position: relative;
            z-index: 2;
            width: 0;
            height: 5px;
            border-radius: 5px;
            background: $base;
          }
          .hover-playhead{
            position: absolute;
            z-index: 1;
            top: 0;
            width: 0;
            height: 5px;
            opacity: 0;
            border-radius: 5px;
            background: $shadow-color;
            transition: opacity .3s;
            &::before{
              opacity: 0;
              content: attr(data-content);
              display: block;
              position: absolute;
              top: -30px;
              right: -23px;
              width: 40px;
              padding: 3px;
              text-align: center;
              color: white;
              background: $shadow-color;
              border-radius: calc( #{$border-radius} - 12px);
            }
            &::after{
              opacity: 0;
              content:'';
              display: block;
              position: absolute;
              top: -8px;
              right: -8px;
              border-top: 8px solid $shadow-color;
              border-left:8px solid transparent;
              border-right:8px solid transparent;
            }
          }
        }
        .controls{
          margin-top: 10px;
          button{
            color: $base;
            border-radius: 50%;
            margin: 10px 50px 10px 50px;
            font-size: 18px;
            text-align: center;
            transition: 0.2s;
            cursor: pointer;
            border: none;
            background: 0;
            &:focus{
              outline: none;
            }
            &.play{
              width: 50px;
              height: 50px;
              border: 1px solid #e2e2e2;
              background-image: url("../img/play.svg");
              &:hover{
                left: 0;
                box-shadow: 0px 0px 15px 0px  $lighter-shadow;
              }
              .fa-play{
                transform: translateX(2px);
              }
              // .fa-pause{
              .pause{
                background-image: url("../img/rewind.svg");
              }
            }
            &.prev{
              width: 35px;
              height: 35px;
              background-image: url("../img/rewind.svg");
              &:hover{
                transform: scale(1.2);
              }
            }
            &.next{
              width: 35px;
              height: 35px;
              background-image: url("../img/fforward.svg");
              &:hover{
                transform: scale(1.2);
              }
            }
          }
        }
      }
      .play-list{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 85%;
        overflow-y: scroll;
        .track{
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          border-radius: calc( #{$border-radius} - 10px);
          border: 1px solid transparent;
          transition: 0.3s;
          cursor: pointer;
          &:hover{
            background: $shadow-color;
            border-color: $shadow-color;
            position: relative;
          }
          &.current-audio{
            background: $shadow-color;
            box-shadow: 0px 0px 15px 0px $shadow-color;
          }
          &.play-now{
            background: $shadow-color;
            box-shadow: 0px 0px 15px 0px  $shadow-color;
            position: relative;

  
        }
          .track-discr{
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            width: 300px;
            .track-name{
              font-size: 17px;
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
          .track-duration{
            min-width: 40px;
            margin-left: 10px;
            margin-right: 10px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (min-width:1024px) {
  body {
    font-family: 'MyFonts', sans-serif;
    color: $base;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;


    .card{
      z-index: 20;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 960px;
      max-height: 100%;
      padding: 0px;
      margin-top: 50px;
      border-radius: $border-radius;
      color: white;
      box-shadow: 0px 0px 70px 0px $shadow-color;
      background: $base;
      overflow: hidden;
      
      .current-track{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
        border-radius: $border-radius;
        color: $base;
        background: white;
        // width: 800px;
        margin: 20px 20px 20px 20px;
        
     
        audio{
          display: none;
        }
        .text-wrap{
          position: relative;
          // margin: 0 auto;
          width: 900px;
          height: 350px;
          text-align: center;
          overflow-y: scroll;
          border-radius: 20px;
          box-shadow: 0px 10px 40px 0px $lighter-shadow;
        }
        // .text-card{
        //   text-align: center;
        //   font-size:x-large;
        // }
        .track-name{
          margin-top: 20px;
          font-size: 22px;
        }
        .time{
          display: flex;
          justify-content: space-between;
          width: 500px;
        }
        #timeline{
          position: relative;
          margin: 0 auto;
          width: 500px;
          height: 5px;
          background: $primary;
          border-radius: 5px;
          cursor: pointer;
          &:hover{
            .hover-playhead{
               opacity: 1;
              &::before{
                opacity: 1;
              }
              &::after{
                opacity: 1;
              }
            }
          }
          #playhead{
            position: relative;
            z-index: 2;
            width: 0;
            height: 5px;
            border-radius: 5px;
            background: $base;
          }
          .hover-playhead{
            position: absolute;
            z-index: 1;
            top: 0;
            width: 0;
            height: 5px;
            opacity: 0;
            border-radius: 5px;
            background: $shadow-color;
            transition: opacity .3s;
            &::before{
              opacity: 0;
              content: attr(data-content);
              display: block;
              position: absolute;
              top: -30px;
              right: -23px;
              width: 40px;
              padding: 3px;
              text-align: center;
              color: white;
              background: $shadow-color;
              border-radius: calc( #{$border-radius} - 12px);
            }
            &::after{
              opacity: 0;
              content:'';
              display: block;
              position: absolute;
              top: -8px;
              right: -8px;
              border-top: 8px solid $shadow-color;
              border-left:8px solid transparent;
              border-right:8px solid transparent;
            }
          }
        }
        .controls{
          margin-top: 10px;
          button{
            color: $base;
            border-radius: 50%;
            margin: 20px 50px 20px 50px;
            font-size: 18px;
            text-align: center;
            transition: 0.2s;
            cursor: pointer;
            border: none;
            background: 0;
            &:focus{
              outline: none;
            }
            &.play{
              width: 50px;
              height: 50px;
              border: 1px solid #e2e2e2;
              background-image: url("../img/play.svg");
              &:hover{
                left: 0;
                box-shadow: 0px 0px 15px 0px  $lighter-shadow;
              }
              .fa-play{
                transform: translateX(2px);
              }
              // .fa-pause{
              .pause{
                background-image: url("../img/rewind.svg");
              }
            }
            &.prev{
              width: 35px;
              height: 35px;
              background-image: url("../img/rewind.svg");
              &:hover{
                transform: scale(1.2);
              }
            }
            &.next{
              width: 35px;
              height: 35px;
              background-image: url("../img/fforward.svg");
              &:hover{
                transform: scale(1.2);
              }
            }
          }
        }
      }
      .play-list{
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 200px;
        overflow-y: scroll;
        .track{
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          border-radius: calc( #{$border-radius} - 10px);
          border: 1px solid transparent;
          transition: 0.3s;
          cursor: pointer;
          &:hover{
            background: $shadow-color;
            border-color: $shadow-color;
            position: relative;
          }
          &.current-audio{
            background: $shadow-color;
            box-shadow: 0px 0px 15px 0px $shadow-color;
          }
          &.play-now{
            background: $shadow-color;
            box-shadow: 0px 0px 15px 0px  $shadow-color;
            position: relative;

  
        }
          .track-discr{
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            width: 300px;
            .track-name{
              font-size: 17px;
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
          .track-duration{
            min-width: 40px;
            margin-left: 10px;
            margin-right: 10px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.text-wrap::-webkit-scrollbar {
  width: 5px;
}

.play-list::-webkit-scrollbar {
    width: 5px;
}

.play-list::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 5px;
}

.play-list::-webkit-scrollbar-track {
  background: $base; 
}

.now-playing{
  
}

@keyframes play {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
